<!-- <div class ="container-fluid">
  <h1>Search Form</h1>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  {{searchForm.value | json}}

  <div class="form-group">
  <label>language</label>
  <input type="text" class="form-control" formControlName="language"/>
  </div>

  <div class="form-group">
  <label>word</label>
  <input type="text" class="form-control" formControlName="word">
  </div>
  
  <div class="form-group">
  <label>apiKey</label>
  <input type="apiKey" class="form-control" formControlName="apiKey">
  </div>

  <div class="form-group">
    <select multiple class="custom-select" formControlName="additionalFields">
        <option *ngFor="let sel of select" [value]="sel">{{sel}}</option>
      </select>
     
  </div>

  <div class="form-check mb-3">
  <input type="checkbox" formControlName="polarizeWord" class="form-check-input"/>
  <label class="form-check-label">polarizeWord</label>
  </div>

  <button class="btn btn-primary" type="submit">Search</button>
  
  </form>
  </div>  -->

  <h1>jhgefuyewg</h1>